.portfolio-item-img  {
  height: 15vw;
  margin: auto;
  vertical-align: middle;
  transition: height .5s;
}
.portfolio-item-img:hover {
  height: 25%;
}
.portfolio-item-img-container {
  vertical-align: middle;
  display: flex;
  justify-content: center;
  background-color: rgb(67, 32, 160);
  border: outset 2px black;
  border-radius: 2%;
  height: 35vw;
  width: 30vw;
  overflow: hidden;
}
.portfolio-item-overlay:hover + 
.portfolio-item-img-container 
.portfolio-item-img {
  height: 20vw;
  transition: height .5s;
}
.portfolio-item-overlay {
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  position: absolute;
  height: 35vw;
  width: 30vw;
  z-index: 1;
  border: outset 2px whitesmoke;
  border-radius: 2%;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s, visibility 0.5s;
}
.portfolio-item-overlay:hover {
  cursor: pointer;
  opacity: 0;
  visibility: none;
  transition: opacity 0.5s, visibility 0.5s;
}
.portfolio-overlay-img {
  max-width: 10vw;
  max-height: 8vw;
}
.portfolio-item-img:hover {
  cursor: pointer;
}
.portfolio-item-list {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  vertical-align: middle;
  padding: 0;
  margin: 2vw;
}
.port-container {
  width: 100vw;
  margin: auto 0;
  position: relative;
  overflow: hidden;
  z-index: 100;
  vertical-align: middle;
  padding: 0;
  padding-top: 4em;
  margin-bottom: 4em;
  min-height: 100vh;
}
.portfolio-list {
  box-sizing: border-box;
  padding: 0;
  width: 100vw;
}
@media screen and (max-width: 500px) {
  .port-container {
    width: 100vw;
    padding: 1em 0;
    min-height: 0;
  }
  .portfolio-item-list {
    width: 45vw;
    margin: 1vw;
  }
  .portfolio-item-overlay {
    width: 45vw;
  }
  .portfolio-item-img-container {
    width: 45vw;
  }
  .portfolio-list {
    padding: 0;
    margin: 0;
  }
}