.about-title {
  font-size: 6vw;
  margin-top: 0;
  text-align: center;
}

.about-text {
  font-size: 2vw;
}

.about-container {
  width: 60vw;
  overflow: hidden;
  margin: auto;
  position:relative;
  z-index:99;
  border-top: 2px solid rgb(20, 20, 20);
  border-bottom: 2px solid rgb(20, 20, 20);
  padding-bottom: 4em;
}

.about-pic-container {
  display: flex;
  justify-content: center;
}

.about-pic {
  border: 2px solid rgb(20, 20, 20);
  box-shadow: -2px 2px rgba(67, 32, 160, .9);
  height: 20vw;
  border-radius: 20vw;

}

.about-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 4em;
}

.about-row-item {
  display: flex;
  flex-direction: column;
  max-width: 20vw;
  margin: 0 auto;
  text-align: left;
  align-items: left;
  justify-content: flex-start;
}

.about-item-title {
  font-size: 2.2vw;
  margin: .4vw 0;
  font-weight: 600;
}

.about-item-subtitle {
  font-size: 1.2vw;
  margin: .5vw 0 0 0;
}

.about-item-subtitle-left {
  font-size: 1.6vw;
  font-weight: 0;
  margin: 1.6vw 0 0 0;
}

.about-item-text {
  font-size: 1.2vw;
  margin: 0;
}