.App {
  text-align: center;
  background-image: url('./5.jpg');
  background-repeat: repeat-x;
  background-size: 50% auto;
  font-family: 'Pangolin', cursive;
}

.main-content {
  background-image: url('./10.png');
  background-attachment: fixed;
  background-color: rgba(200, 200, 200, .6);
  padding-top: 40px;
  padding-bottom: 200px;
  background-size: 100%;
}

