@import url('https://fonts.googleapis.com/css?family=Titillium+Web|Pangolin|Roboto');


.contact-list {
  position: relative;
  z-index: 1;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-text-input {
  width: 50vw;
  height: 4vw;
  font-size: 2.8vw;
  font-family: 'Web-Titillium';
}

.submit-btn {
  width: 20vw;
  height: 4vw;
  margin: auto;
  font-size: 2.8vw;
  border-radius: 5px;
}

.submit-btn:hover {
  cursor: pointer;
  opacity: .6;
}

.contact-textarea {
  width: 50vw;
  font-size: 2.8vw;
  font-family: 'Web-Titillium';
}

form {
  display: flex;
  position: relative;
  z-index: 1;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.show-modal {
  visibility:visible;
    opacity:1;
  background-color: white;
  border: black 1px outset;
  border-radius: 4px;
  padding: 0 2vw;
  z-index: 100000;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: visibility 0.3s linear,opacity 0.3s linear;
}

.modal-text {
  font-size: 1.8vw;
}

.hide-modal {
  background-color: white;
  border: black 1px outset;
  border-radius: 4px;
  padding: 0 2vw;
  z-index: 100000;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility:hidden;
  opacity:0;
  transition: visibility 0.3s linear,opacity 0.3s linear;
}