.header {
  /* height: 65vw; */
  height: 100vh;
  overflow: hidden;
  background-color: rgba(67, 32, 160, .8);
  position: relative;
  z-index: 3;
}

.header-titles {
  margin: auto;
  /* height: 54.2vw; */
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-hello {
  /* font-size: 4vw; */
  font-size: 7vmin;
  font-weight: 100;
  color: black;
  display: flex;
  align-self: center;
   -webkit-text-fill-color: rgba(67, 32, 160, .8); /* Will override color (regardless of order) */
   -webkit-text-stroke-width: .3vmin;
   -webkit-text-stroke-color: black;
   text-shadow:
		-.2vmin -.2vmin 0 #000,
		.2vmin -.2vmin 0 #000,
		-.2vmin .2vmin 0 #000,
		.2vmin .2vmin 0 #000;
}
.arrow {
  height: 10vmin;
  position: absolute;
  top: 70%;
  left: 50%;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  opacity: 1;
  visibility: visible; 
}

.arrow-none {
  height: 10vmin;
  position: absolute;
  top: 70%;
  left: 50%;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  opacity: 0;
  visibility: hidden; 
}

.header-title {
  padding: 0;
  margin: .6vw auto;
  text-align: center;
  font-size: 8vmin;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
  opacity: 1;
  display: flex;
  align-self: center;
  visibility: visible; 
  /* text-shadow: 2px 2px rgba(255, 255, 255, .6); */
}

.header-title-none {
  display: flex;
  align-self: center;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
  font-size: 8vmin;
  opacity: 0;
  visibility: hidden; 
}

.header-links {
  height: 20vmin;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  position:relative;
  z-index:9999;
}
.header-icon {
  height: 9vmin;
  margin: auto .6vw;
  
}