.portfolio-img {
  height: 16vw;
  margin: auto 4vw;
}

.portfolio-img:hover {
  cursor: pointer;
}

.portfolio-list {
  margin-top: 6em;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  overflow-x: scroll;
  min-width: 100%;
}

.portfolio-list::-webkit-scrollbar {
  display: none;
}


.scroll-arrow-left {
  position: absolute;
  right: 14%;
  height: 8vw;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s; 
  opacity: .4;
}

.scroll-arrow-left:hover {
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  opacity: 1;
  cursor: pointer;
}
.scroll-arrow-right{
  position: absolute;
  left: 14%;
  height: 8vw;
  transform: rotate(180deg);
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  opacity: .4;
}
.scroll-arrow-right:hover {
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  opacity: 1;
  cursor: pointer;
}