.portfolio-img {
  height: 24vw;
  width: 40vw;
  margin: auto 4vw;
}



.portfolio-img:hover {
  cursor: pointer;
}

.port-container {
  width: 60vw;
  overflow: hidden;
  margin: auto;
  position: relative;
  z-index: 100;
  min-height: 100vh;
  vertical-align: middle;
  padding-top: 4em;
}

.portfolio-list {
  padding: 0;
  padding-top: 4em;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: auto;
  align-items: center;
  list-style: none;
  overflow-x: scroll;
  width: 48vw;
}

.portfolio-list::-webkit-scrollbar {
  display: none;
}


.scroll-arrow-right {
  position: absolute;
  right: 4%;
  height: 8vw;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s; 
  opacity: .4;
}
.scroll-arrow-right-hide {
  position: absolute;
  right: 4%;
  height: 8vw;
  display: none;
}
.scroll-arrow-right:hover {
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  opacity: 1;
  cursor: pointer;
}
.scroll-arrow-left{
  position: absolute;
  left: 4%;
  height: 8vw;
  transform: rotate(180deg);
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  opacity: .4;
}
.scroll-arrow-left-hide {
  position: absolute;
  left: 4%;
  height: 8vw;
  display: none;
}
.scroll-arrow-left:hover {
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  opacity: 1;
  cursor: pointer;
}

.piece-name {
  text-align: center;
}