.titlebar-container {
  background-color: whitesmoke;
  min-height: 60px;
  height: 7vw;
  display: flex;
  position: relative;
  z-index:9999;
  align-items: center;
  border-bottom: 2px outset whitesmoke;
}

.titlebar-container-fix {
  display: block;
  background-color: black;
  min-height: 40px;
  height: 5vw;
  display: flex;
  align-items: center;
  border-bottom: 2px outset black;
  position:fixed;
  z-index:9999;
  top: 0;
  width: 100%;
}

.titlebar-container-fix-fade {
  display: block;
  background-color: black;
  min-height: 40px;
  height: 5vw;
  display: flex;
  align-items: center;
  border-bottom: 2px outset black;
  position:fixed;
  top: 0;
  width: 100%;
  z-index:9999;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  opacity: .4;
}

.titlebar-container-fix-fade:hover {
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  opacity: 1;
  display: block;
  background-color: black;
  min-height: 40px;
  height: 5vw;
  display: flex;
  align-items: center;
  border-bottom: 2px outset black;
  position:fixed;
  top: 0;
  width: 100%;
  z-index:9999;
}


.titlebar-container-fix-hide {
  display: none;
}

.titlebar-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: left;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  z-index:9999;
}

.titlebar-item {
  padding: 0 2vw;
  margin: 0;
  font-weight: 500;
  font-size: 1.8vw;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  background: -webkit-linear-gradient(#000, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px rgba(67, 32, 160, .6);
  position: relative;
  z-index:9999;
}

.titlebar-item:hover {
  cursor: pointer;
  text-shadow: 2px 2px white;
  border-bottom: 2px solid white;
  opacity: .4;
}